.item-menu {
    display: inline-block;
    position: relative;
}

.item-menu a {
    display: flex;
    align-items: center;
    margin: .5rem .8rem;
    padding-right: .5rem;
    font-size: 1.4rem;
}

.item-menu a img {
    width: 3rem;
}

.item-menu::after {
    content: '';
    width: 0;
    height: .2rem;
    background-color: var(--blue-100);
    position: absolute;
    bottom: -1.5rem;
    transition: width .3s;
}

.item-menu:hover::after,
.item-menu.active-link::after {
    width: 100%;
}
    